body {
  font-style: normal;
  line-height: 1.5;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.6;
}

.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

/* ---- Fluid typography for mobile devices ---- */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}

/* Buttons */

.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}

.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}

.btn-primary, .btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}

.btn-white-outline, .btn-white-outline:active, .btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-white-outline:hover, .btn-white-outline:focus, .btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}

.alert-success {
  background-color: #70c770;
}

.alert-info {
  background-color: #82786e;
}

.alert-warning {
  background-color: #879a9f;
}

.alert-danger {
  background-color: #b1a374;
}

.mbr-gallery-filter li a {
  border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}

.nav-tabs .nav-link {
  border-radius: 100px !important;
}

.btn-form {
  border-radius: 0;
}

.btn-form:hover {
  cursor: pointer;
}

a, a:hover {
  color: #149dcc;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle, .mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle, .mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle, .mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle, .mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle, .mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}

/* Others*/

.note-check a[data-value=Rubik] {
  font-style: normal;
}

.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}

.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}

.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}

.form-control>.mbr-iconfont {
  font-size: 1.6rem;
}

.form-control, .form-control:focus {
  border: 1px solid #e8e8e8;
}

.form-active .form-control:invalid {
  border-color: red;
}

.overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}

ul, ol, pre, blockquote {
  margin-bottom: 2.3125rem;
}

/* Forms */

.mbr-form .btn {
  margin: .4rem 0;
}

.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}

.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}

@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}


.card-img {
  min-height: 200px;
  width: auto;
}

html, body {
  height: auto;
  min-height: 100vh;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}

#about {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--color-sand);
}

#about img {
  float: right;
  width: 75%;
}

#about .testimonial-text {
  font-style: italic;
  font-weight: 300;
}

#about .mbr-author-name {
  font-weight: bold;
}

#about .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}

@media (max-width: 991px) {
  #about .mbr-figure, #about img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  #about img {
    float: none;
  }
  #about .media-content {
    padding-top: 1.5rem !important;
  }
}

#projects_section {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}

#projects_section .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}

#projects_section .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

#projects_section .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

#projects_section .card-wrapper .card-img .overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}

#projects_section .card-wrapper .card-img img {
  width: 100%;
}

#projects_section .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#projects_section .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}

#projects_section .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}

#projects_section .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}

#projects_section .card-img .overlay {
  display: block !important;
  opacity: 0;
}

#projects_section .card-img .mbr-section-btn {
  opacity: 0;
}

.footer .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.footer .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}

.footer .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}